<header class="navbar navbar-expand-md navbar-dark bd-navbar bg-color">
  <nav class="container-xxl flex-wrap flex-md-nowrap" aria-label="Main navigation">
    <div class="collapse navbar-collapse" id="bdNavbar">
      <a class="navbar-brand" href="/">Demo</a>
      <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home </a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin Board</a>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard">
          <a class="nav-link" routerLink="/mod" routerLinkActive="active">Moderator Board</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" routerLink="/user" routerLinkActive="active">User</a>
        </li>
      </ul>
      <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
      </ul>
      <ul class="navbar-nav flex-row flex-wrap ms-md-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
