<form>
  <div class="form-group form-inline">
    Search {{dataType}} by name:
    <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="searchTerm"
           (input)="search($event.target.value)" />
  </div>
</form>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th class="text-capitalize" scope="col" *ngFor="let heading of headings">{{heading}}</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data | listFilter: searchTerm | slice: (page-1) * pageSize : page * pageSize; index as i">
        <th scope="row">{{ (page -1) * pageSize + i + 1 }}</th>
        <td *ngFor="let heading of headings">{{item[heading]}}</td>
        <td>
        <button class="btn btn-primary btn-sm a-btn-slide-text" (click)="onEdit(item)">
          <span><i class="far fa-edit"></i></span>
          <span><strong>Edit</strong></span>
        </button>
          <button class="btn btn-danger btn-sm a-btn-slide-text" (click)="onDelete(item)">
            <span><i class="far fa-trash-alt"></i></span>
            <span><strong>Delete</strong></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ngb-pagination [collectionSize]="data.length" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"
                [pageSize]="pageSize" class="d-flex justify-content-center"></ngb-pagination>
